In [21]:
%load_ext autoreload
%autoreload 2
import pandas as pd

from tasrif.processing_pipeline.pandas import MergeOperator

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
# Full
df1 = pd.DataFrame({'id': [1, 2, 3], 'colors': ['red', 'white', 'blue']})
df2 = pd.DataFrame({'id': [1, 2, 3], 'cities': ['Doha', 'Vienna', 'Belo Horizonte']})

In [23]:
df1.head()

   id colors
0   1    red
1   2  white
2   3   blue

In [24]:
df2.head()

   id          cities
0   1            Doha
1   2          Vienna
2   3  Belo Horizonte

In [25]:
merged = MergeOperator().process(df1, df2)
merged

   id colors          cities
0   1    red            Doha
1   2  white          Vienna
2   3   blue  Belo Horizonte