In [17]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from tasrif.processing_pipeline.pandas import ConvertToDatetimeOperator

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
# Full
df0 = pd.DataFrame([[1, "2020-05-01 00:00:00", 1], [1, "2020-05-01 01:00:00", 1],
                    [1, "2020-05-01 03:00:00", 2], [2, "2020-05-02 00:00:00", 1],
                    [2, "2020-05-02 01:00:00", 1]],
                    columns=['logId', 'timestamp', 'sleep_level'])

df0

   logId            timestamp  sleep_level
0      1  2020-05-01 00:00:00            1
1      1  2020-05-01 01:00:00            1
2      1  2020-05-01 03:00:00            2
3      2  2020-05-02 00:00:00            1
4      2  2020-05-02 01:00:00            1

In [19]:
df0["timestamp"].dtype

dtype('O')

In [23]:
df0 = ConvertToDatetimeOperator(feature_names=["timestamp"], utc=True).process(df0)[0]
df0

   logId                 timestamp  sleep_level
0      1 2020-05-01 00:00:00+00:00            1
1      1 2020-05-01 01:00:00+00:00            1
2      1 2020-05-01 03:00:00+00:00            2
3      2 2020-05-02 00:00:00+00:00            1
4      2 2020-05-02 01:00:00+00:00            1

In [24]:
df0["timestamp"].dtype

datetime64[ns, UTC]