In [6]:
import pandas as pd
from tasrif.processing_pipeline.pandas import SetIndexOperator
df = pd.DataFrame([
    [1, "2020-05-01 00:00:00", 1],
    [1, "2020-05-01 01:00:00", 1], 
    [1, "2020-05-01 03:00:00", 2], 
    [2, "2020-05-02 00:00:00", 1],
    [2, "2020-05-02 01:00:00", 1]],
    columns=['logId', 'timestamp', 'sleep_level'])

df

   logId            timestamp  sleep_level
0      1  2020-05-01 00:00:00            1
1      1  2020-05-01 01:00:00            1
2      1  2020-05-01 03:00:00            2
3      2  2020-05-02 00:00:00            1
4      2  2020-05-02 01:00:00            1

In [5]:
op = SetIndexOperator('timestamp')

op.process(df)

[                     logId  sleep_level
 timestamp
 2020-05-01 00:00:00      1            1
 2020-05-01 01:00:00      1            1
 2020-05-01 03:00:00      1            2
 2020-05-02 00:00:00      2            1
 2020-05-02 01:00:00      2            1]